.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 200px;
  align-items: center;
}
